<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Ikli.co</title>
	</head>

	<body>
	  <div class="container" id="main-container">
	    <div class="container" id="box-container">
	    	<h1>Ikli.co</h1>
			<form action="success" method="post" id="mainForm" class="form-inline">
			    <input type="text" name="url" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder='Put your URL here'" placeholder="Put your URL here" autocomplete="off" style="font-size: 1.25em" id="url" required=true>
				<button name="button" class="btn btn-success" id="button-main" style="font-size: 1.35em">Shorten URL</button>
			</form>
		</div>

	  </div>
	</body>
</html>
