<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style.css">
		<style>
			#box-container p {
				width: 100%;
				font-size: 1.75em;
			}

		</style>
	</head>

	<body>
	  <div class="container" id="main-container">
	    <div class="container" id="box-container">
	    	<h1>Here is your link: <a class="link" href= <%= shortlink %>>ikli.co/<%= shortlink %></a></h1>
			<p><a href="/">Make another shortlink</a></p>
		</div>

	  </div>
	</body>
</html>

